{% extends'Master.twig' %}
{% block title %}Erronis Games{% endblock %}
{% block description %}Official website of Erronis Games{% endblock %}
{% block canonical %}https://erronisgames.com{% endblock %}
{% block thumbnail %}{% endblock %}
{% block summary %}Official website of Erronis Games{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}

{% block analytics %}
    {{ parent() }}
    <script src="{{ asset('assets/js/rellax.min.js') }}"></script>
    <script defer src="{{ asset('assets/js/scroll-indicator.js') }}"></script>
{% endblock %}

{% block body %}
<div class="background">

    <div class="parallax-container">
        {% for p in parallax %}
            <img src="{{ asset(p.file) }}"
                 class="rellax parallax-layer"
                 data-rellax-speed="{{ p.speed }}"
                 {% if p.fallback %}
                 onerror="this.onerror=null; this.src='{{ asset(p.fallback) }}'"
                 {% endif %}
                 alt="{{ p.alt }}">
        {% endfor %}
        <div class="scroll-indicator" id="scroll-indicator"><i class="icon expand"></i></div>
    </div>

    {% include '/includes/navbar.twig' %}

    <div class="post-container">

        {% for post in posts %}

        <article class="post">
            <a href="/post/{{ post.id }}/{{ post.title }}" class="title">
                <h2 class="title">{{ post.title }}</h2>
            </a>
            <hr class="fading text" data-content="{{ post.category.name }}">
            <div class="excerpt">
                {{ post.body|break|raw }}
            </div>
            <a href="/post/{{ post.id }}/{{ post.title }}" class="read-more">Read More</a>
        </article>

        {% endfor %}

        <div class="pagination">
            {% if page != 1 %}
            <a class="page-nav" href="/{{ (page - 1 == 1) ? '' : page - 1 }}">Previous</a>
            {% endif %}
            <a class="page-nav" href="/{{ page + 1 }}">Next</a>
        </div>

    </div>

</div>

<script>
    // Accepts any class name
    var rellax = new Rellax('.rellax');
</script>

{% endblock %}

