{% extends'Master.twig' %}
{% block title %}Erronis Games{% endblock %}
{% block description %}Official website of Erronis Games{% endblock %}
{% block canonical %}https://erronis.games{% endblock %}
{% block thumbnail %}{% endblock %}
{% block summary %}Official website of Erronis Games{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/rellax.min.js') }}" type='text/javascript'></script>
    <script defer src="{{ versioned('js/scroll-indicator','min.js') }}" type='text/javascript'></script>
{% endblock %}

{% block body %}
<div class="background">

    <div class="parallax-container">
        {% for p in parallax %}
            <picture class="parallax-layer">
                {% if p.fallback %}
                    <source srcset="{{ asset(p.file) }}" type="image/webp">
                {% endif %}
                <img class="rellax" src="{{ asset(p.fallback) }}" alt="{{ p.alt }}" data-rellax-speed="{{ p.speed }}">
            </picture>
        {% endfor %}
        <div class="scroll-indicator" id="scroll-indicator"><i class="icon expand"></i></div>
    </div>

    {% include '/includes/navbar.twig' %}

    <div class="post-container">

        {% for post in posts %}

        <article class="post">
            <a href="/post/{{ post.id }}/{{ post.title }}" class="title">
                <h2 class="title">{{ post.title }}</h2>
            </a>
            <hr class="fading text" data-content="{{ post.category.name }}">
            <div class="excerpt">
                {{ post.body|break|raw }}
            </div>
            <a href="/post/{{ post.id }}/{{ post.title }}" class="read-more">Read More</a>
        </article>

        {% endfor %}

        <div class="pagination">
            {% if page != 1 %}
            <a class="page-nav" href="/{{ (page - 1 == 1) ? '' : page - 1 }}">Previous</a>
            {% endif %}
            <a class="page-nav" href="/{{ page + 1 }}">Next</a>
        </div>

    </div>

</div>

<script>
    window.addEventListener('load', function() {
        const rellax = new Rellax('.rellax');
    });
</script>

{% endblock %}

