<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/src/style.min.css') }}">

    <script src="{{ asset('assets/js/rellax.min.js') }}"></script>
    <script defer src="{{ asset('assets/js/sticker.min.js') }}"></script>
</head>
<body>

    <div class="parallax-container">
        <img src="{{ asset('assets/img/parallax/parallax-1.png') }}" class="rellax parallax-layer" data-rellax-speed="-4">
        <img src="{{ asset('assets/img/parallax/parallax-2.png') }}" class="rellax parallax-layer" data-rellax-speed="-3">
        <img src="{{ asset('assets/img/parallax/parallax-3.png') }}" class="rellax parallax-layer" data-rellax-speed="-1">
    </div>

    <nav class="navbar" id="navbar">OwO</nav>

    <div class="post-container">
        <article class="post">
            <h2 class="title">OwO what's this?</h2>
        </article>
    </div>



    <script>
        // Accepts any class name
        var rellax = new Rellax('.rellax');
    </script>

</body>
</html>
