<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.min.css') }}">

    <script src="{{ asset('assets/js/rellax.min.js') }}"></script>
</head>
<body>

<div class="parallax-container">
    <img src="{{ asset('assets/img/parallax-1.png') }}" alt="" class="rellax parallax-layer" data-rellax-speed="4">
    <img src="{{ asset('assets/img/parallax-2.png') }}" alt="" class="rellax parallax-layer" data-rellax-speed="8">
    <img src="{{ asset('assets/img/parallax-3.png') }}" alt="" class="rellax parallax-layer" data-rellax-speed="12">
</div>


<script>
    // Accepts any class name
    var rellax = new Rellax('.rellax');
</script>

</body>
</html>
