{% extends'Master.twig' %}
{% block title %}Erronis Games{% endblock %}
{% block description %}Official website of Erronis Games{% endblock %}
{% block canonical %}https://kondracki.info{% endblock %}
{% block thumbnail %}{% endblock %}
{% block summary %}Official website of Erronis Games{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="background">

    <div class="parallax-container">
        {% for p in parallax %}
            <img src="{{ asset(p.file) }}" class="rellax parallax-layer" data-rellax-speed="{{ p.speed }}" alt="{{ p.alt }}">
        {% endfor %}
        <div class="scroll-indicator" id="scroll-indicator"><i class="icon expand"></i></div>
    </div>

    {% include '/includes/navbar.twig' %}

    <div class="post-container">

        {% for post in posts %}

        <article class="post">
            <h2 class="title">{{ post.title }}</h2>
            <hr class="fading text" data-content="{{ post.category.name }}">
            <div class="excerpt">
                {{ post.body|truncate(1200, true)|raw }}
            </div>
            <a href="/post/{{ post.id }}/{{ post.title }}" class="read-more">Read More</a>
        </article>

        {% endfor %}

    </div>

</div>

<script>
    // Accepts any class name
    var rellax = new Rellax('.rellax');
</script>

{% endblock %}

