<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.min.css') }}">

    <script src="{{ asset('assets/js/rellax.min.js') }}"></script>
    <script defer src="{{ asset('assets/js/sticker.min.js') }}"></script>
    <script defer src="{{ asset('assets/js/scroll-indicator.min.js') }}"></script>
</head>

<body>

<div class="background">

    <div class="parallax-container">
        <img src="{{ asset('assets/img/parallax/parallax-1.png') }}" class="rellax parallax-layer" data-rellax-speed="-4">
        <img src="{{ asset('assets/img/parallax/parallax-2.png') }}" class="rellax parallax-layer" data-rellax-speed="-3">
        <img src="{{ asset('assets/img/parallax/parallax-3.png') }}" class="rellax parallax-layer" data-rellax-speed="-1">
        <div class="scroll-indicator">OwO</div>
    </div>

    <nav class="navbar" id="navbar">
        <div class="item">OwO</div>
        <div class="item">UwU</div>
        <div class="item">Rawr</div>
        <div class="item">{{ msg }}</div>
    </nav>

    <div class="post-container">

        {% for post in posts %}

        <article class="post">
            <h2 class="title">{{ post.title }}</h2>
            <hr class="fading text" data-content="{{ post.category.name }}">
            <div class="excerpt">
                {{ post.body|truncate(1000, true)|nl2br }}
            </div>
            <a href="#" class="read-more">Read More</a>
        </article>

        {% endfor %}

    </div>

</div>

<script>
    // Accepts any class name
    var rellax = new Rellax('.rellax');
</script>

</body>
</html>
