<!doctype html>
<html lang="en">
<head>
    <style>
        body {visibility: hidden;}
        html {background: #2a2a2a;}
    </style>

    <link rel="stylesheet" type="text/css" href="{{ versioned('css/style', 'min.css') }}">

    {% block analytics %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{ analytics }}');
        </script>
        <script async type="text/javascript" src="https://plausible.io/js/analytics.js"></script>
    {% endblock %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="{% block description %}Erronis Games{% endblock %}">
    <link rel="canonical" href="{% block canonical %}{% endblock %}">

    <title>{% block title %}Erronis Games{% endblock %}</title>

     {#O penGraph SEO #}
    <meta property="og:title" content="{{ block('title') }}">
    <meta property="og:description" content="{{ block('description') }}">
    <meta property="og:image" content="{% block thumbnail %}{% endblock %}">
    <meta property="og:url" content="{{ block('canonical') }}">
    <meta property="og:site_name" content="Erronis Games">

     {# Twitter SEO #}
    <meta name="twitter:card" content="{% block summary %}{% endblock %}">
    <meta name="twitter:site" content="@ErronisGames">

    {# Icons #}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/icons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/icons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/icons/favicon-16x16.png') }}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="{{ asset('assets/icons/safari-pinned-tab.svg') }}" color="#5bbad5">

    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#141414">

    {% block scripts %}
        <script async src="{{ versioned('js/sticker', 'min.js') }}" type='text/javascript'></script>
        <script async src="{{ versioned('js/instantpage', 'min.js') }}" type='text/javascript'></script>
    {% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
    <footer>
        {% block footer %}
            &copy; Copyright {{ "now"|date("Y") }} by <a href="https://erronis.games">Erronis Games</a>.
        {% endblock %}
    </footer>

<script>
    window.lazyLoadOptions = [{
        elements_selector: ".lazy",
        threshold: 120
    }]
</script>

<script async src="{{ asset('assets/js/lazyload.min.js') }}" type="text/javascript"></script>

</body>
</html>
