{% extends'Master.twig' %}
{% block title %}{{ post.title }}{% endblock %}
{% block description %}Erronis Games blog – {{ post.title }} ({{ post.date|date }}){% endblock %}
{% block canonical %}https://erronisgames.com/{{ post.id }}/{{ post.title }}{% endblock %}
{% block thumbnail %}{% endblock %}
{% block summary %}{{ post.body|striptags|truncate(200) }}{% endblock %}

{% block scripts %}{% endblock %}

{% block analytics %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {% include 'includes/navbar.twig' %}

    <div class="single-post-container">

        <article class="single-post">
            <time class="date">{{ post.date|date }}</time>
            <h1 class="title">{{ post.title }}</h1>
            <hr class="fading text" data-content="{{ post.category.name }}">
            <div class="body">
                {{ post.body|raw }}
            </div>
        </article>

    </div>

{% endblock %}

