<nav class="navbar {{ header??'fixed' }}" id="navbar">
    <div class="main">
        <a href="/" class="item">
            <i class="icon home"></i>
            Home
        </a>
        {% for item in navbar.main %}
            <a href="{{ item.link }}" class="item" referrerpolicy="no-referrer" target="_blank">
                {{ item.text }}
            </a>
        {% endfor %}
    </div>
    <div class="social">
        {% for item in navbar.social %}
            <a href="{{ item.link }}" class="item" rel="noreferrer" target="_blank">
                <picture>
                    <source srcset="{{ asset(item.image) }}">
                    <img src="{{ asset(item.fallback) }}" alt="{{ item.alt }}">
                </picture>
            </a>
        {% endfor %}
    </div>
</nav>
