<nav class="navbar" id="navbar">
    <div class="main">
        <a href="/" class="item">
            <i class="icon home"></i>
            Home
        </a>
        {% for item in navbar.main %}
            <a href="{{ item.link }}" class="item" referrerpolicy="no-referrer" target="_blank">
                {{ item.text }}
            </a>
        {% endfor %}
    </div>
    <div class="social">
        {% for item in navbar.social %}
            <a href="{{ item.link }}" class="item" rel="noreferrer" target="_blank">
                <img src="{{ asset(item.image) }}"
                     {% if item.fallback %}
                         onerror="this.onerror=null; this.src='{{ asset(item.fallback) }}'"
                     {% endif %}
                     alt="{{ item.alt }}">
            </a>
        {% endfor %}
    </div>
</nav>
