{% extends'Master.twig' %}
{% block title %}Erronis Games{% endblock %}

{% block scripts %}
    <script defer src="{{ asset('assets/js/sticker.min.js') }}"></script>
    <script src="{{ asset('assets/tinymce/tinymce.min.js') }}"></script>
    <script>
        tinymce.init({
            selector: '#editor',
            skin: 'dark',

            plugins: "autoresize textcolor colorpicker hr link nonbreaking anchor contextmenu image pagebreak " +
                     "lists preview searchreplace table wordcount autolink code fullscreen media spellchecker",

            menubar: "file edit view insert format",

            toolbar: "removeformat | styleselect fontsizeselect forecolor | bold italic underline strikethrough | alignleft aligncenter alignjustify | " +
                     "outdent indent| numlist bullist | link image media blockquote | hr pagebreak | fullscreen preview spellchecker",

            branding: false,
            default_link_target: "_blank",
            link_assume_external_targets: true,

            target_list: [
                {title: 'None', value: ''},
                {title: 'Same page', value: '_self'},
                {title: 'New page', value: '_blank'},
                {title: 'Lightbox', value: '_lightbox'}
            ],

            contextmenu_never_use_native: true,

            image_caption: true,
            image_class_list: [
                {title: 'Fluid', value: 'fluid image'},
                {title: 'Centered', value: 'centered image'},
                {title: 'Rounded', value: 'rounded image'},
                {title: 'Circular', value: 'circular image'}
            ],

            plugin_preview_height: 600,
            plugin_preview_width: 1000,

            fontsize_formats: "8pt 10pt 11pt 12pt 14pt 18pt 24pt"
        });
    </script>
{% endblock %}

{% block body %}

    {% include '/includes/navbar.twig' %}

    <div id="admin">

        {% include '/admin/includes/sidebar.twig' %}

        <form class="editor-container" method="post" action="/admin/editor{{ (post is empty) ? '' : '?id='~post.id }}">

            <div class="editor">

                <div class="inline field">
                    <label for="title">Title</label>
                    <input name="title" type="text" id="title" value="{{ post.title }}">
                </div>

                <textarea id="editor" name="body">{{ post.body }}</textarea>

            </div>


            <nav class="sidebar">

                <div class="field">
                    <label for="date">Date</label>
                    <input name="date" type="text" id="date" value="{{ (post is empty) ? now : post.date|date("d.m.Y H:i:s") }}">
                </div>

                <div class="field">
                    <label for="author">Author</label>
                    <select name="author" id="author">
                        {% for u in users %}
                            <option value="{{ u.id }}" {{ u.id==post.author.id ? 'selected' : '' }}>{{ u.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="field">
                    <label for="category">Category</label>
                    <select name="category" id="category">
                        {% for c in categories %}
                            <option value="{{ c.id }}" {{ c.id==post.category.id ? 'selected' : '' }}>{{ c.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <input type="hidden" value="{{ token }}" name="token">
                <input type="hidden" value="{{ post.id }}" name="id">

                <div class="field">
                    <input type="submit" class="button" value="Submit">
                </div>

            </nav>

        </form>

    </div>


{% endblock %}

