{% extends'Master.twig' %}
{% block title %}Erronis Games{% endblock %}

{% block scripts %}
    <script defer src="{{ asset('assets/js/sticker.min.js') }}"></script>
{% endblock %}

{% block body %}

    {% include '/includes/navbar.twig' %}

    <div id="admin">

        {% include '/admin/includes/sidebar.twig' %}

        <div class="content">

            <a href="/admin/editor" class="full button">Create new</a>

            <ul class="categories">
                {% for post in posts %}
                    <li>
                        <div class="summary">
                            <div class="field">{{ post.id }}</div>
                            <div class="field">{{ post.title }}</div>
                            <div class="spacer"></div>
                            <div class="actions">
                                <a class="button" href="/admin/posts?del={{ post.id }}&token={{ token }}">
                                    <i class="delete icon"></i>
                                </a>
                                <a class="button" href="/admin/editor?id={{ post.id }}">
                                    <i class="edit icon"></i>
                                </a>
                            </div>
                        </div>
                        <div class="description">
                            In <strong>{{ post.category.name }}</strong> by <strong>{{ post.author.name }}</strong>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>

{% endblock %}

